body {
  font-family: "Segoe UI";
  color: #694f62;
  background-color: rgb(255, 235, 238);
    width: 75%;
    margin: auto;
}

h1 {
    width: 50%;
    margin: 10px auto 10px auto;
}

label {
  font-weight: bold;
}

input {
  font-family: "Segoe UI";
  font-size: 15px;
  border: 1px solid #694f62;
  border-radius: 5px;
}

select {
  font-family: "Segoe UI";
  font-size: 15px;
  height: 25px;
  border: 1px solid #694f62;
  border-radius: 5px;
}

button {
  font-family: "Segoe UI";
}

.headerContainer {
    width: 550px;
    margin: auto;
}

/* .createPetContainer {
    width: 50%;
    margin: auto;
} */

.mainPetContainer {
  width: 75%;
  margin: auto;
}

/* .nameContainer {
  width: 50%;
  margin: auto;
  margin-bottom: 10px;
}

.typeContainer {
    width: 50%;
    margin: auto;
    margin-bottom: 10px;
} */

/*Div containing all the pet information*/
.petContainer {
  width: 550px;
  margin: 10px auto 10px auto;
  border: 3px solid #694f62;
  border-radius: 15px;
  background-color: rgb(255, 223, 227);
}

/*Title div - containing pet name and type*/
.titleContainer {
  display: flex;
  justify-content: center;
}

/*Name text*/
.petName {
  text-align: center;
  font-weight: bold;
  margin: 8px;
}

/*Type text*/
.petType {
  text-align: center;
  font-weight: bold;
  margin: 8px;
}

/*Image div*/
.imgContainer {
  justify-content: center;
  display: flex;
  border-radius: 10px;
  width: 75%;
  margin: 0px auto 10px auto;
  background-color: rgb(255, 235, 238);
}

/*Activity text*/
.petActivity {
  width: 50%;
  text-align: center;
  margin: auto;
}

/*Button div*/
.btnContainer {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  width: 75%;
  margin: 10px auto 10px auto;
}

.btnContainer > button {
  margin: 0px 10px 0px 10px;
  padding: 0px 5px 0px 5px;
}

/*Stats div*/
.statContainer {
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  width: 75%;
  margin: 10px auto 10px auto;
  background-color: rgb(255, 235, 238);
}
